{box-sizing: border-box;}

.header {
  background-color: #5a3c1e;
  height: 70px;
}

.header2 {
  background-color: #785a3c;
  color: #785a3c;
  height: 70px;
}

.framedefinition {
	padding-left:150px;
	padding-top:50px;
}

h1 {
	color: #000000;
	font-family: Verdana;
	font-size: 22px; 
}

h3 {
	color: #000000;
	font-family: Verdana;
	font-size: 18px;
	margin-top: -10px;
}

div {
    color: #000000;
}

body {
    background: #96785a;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.dropbtn {
    border-radius: 4px;
    background-color: #5a3c1e;
    color: #ffffff;
    margin-top: 5px;
    padding: 16px;
    width: 110px;
    font-size: 16px;
    border: 8px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: #ffffff;
    border-radius: 4px;
    margin-top: 5px;
    padding: 16px;
    width: 400px;
    height: 150px;
    font-family: Verdana;
    font-size: 14px; 
    display: none;
    background-color: #364145;
    overflow: auto;
    
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    margin-top: 5px;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #785a3c;}

.show {display: block;}

#total_votes
{
	font-size:30px;
	color:#FE2E2E;
	font-weight:bold;
}

.div p
{
	margin:0px;
	font-size:20px;
	text-align:left;
	color:#E6E6E6;
}

p
{
	color: #ffffff;
}

button {
	border-radius: 4px;
	background-color: #5a3c1e;
	color: #ffffff;
	margin-top: 5px;
	padding: 16px;
	width: 240px;
	font-size: 16px;
	border: 8px;
	cursor: pointer;
}

.logo {
	position: absolute; 
	top: 0px; 
	left: 150px;
}

.buttontitle {
	float: right;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #5a3c1e;
	color: #ffffff;
	margin-top: -8px;
	padding: 0px;
	height: 50px; 
	width: 140px;
	font-size: 16px;
	border: 8px;
	cursor: pointer;
}

.sbutton {
	background-color: #0064a0;
	color: #ffffff;
	padding: 16px;
	height: 175px;
	width: 250px;
	font-size: 14px;
	cursor: pointer;
	white-space: normal;
	position: absolute; 
	top: 325px; 
	left: 150px;
}

.tbutton {
    background-color: #64007f;
    color: #ffffff;
    padding: 16px;
    height: 175px;
    width: 250px;
    font-size: 14px;
    cursor: pointer;
	white-space: normal;
	position: absolute; 
	top: 325px; 
	left: 400px;
}

.ebutton {
    background-color: #a05000;
    color: #ffffff;
    padding: 16px;
    height: 175px;
    width: 250px;
    font-size: 14px;
    cursor: pointer;
	white-space: normal;
	position: absolute; 
	top: 500px; 
	left: 150px;
}

.mbutton {
    background-color: #a00000;
    color: #ffffff;
    padding: 16px;
	height: 175px;
    width: 250px;
    font-size: 14px;
    cursor: pointer;
	white-space: normal;
	position: absolute; 
	top: 500px; 
	left: 400px;
}
.nextpagebutton {
	border-radius: 4px;
	background-color: #5a3c1e;
	color: #ffffff;
	margin-top: 5px;
	padding: 16px;
	width: 240px;
	font-size: 16px;
	border: 8px;
	cursor: pointer;
	position: absolute; 
	top: 675px; 
	left: 150px;
}

@media screen and (max-width: 768px) {
	
	.header {
  		background-color: #5a3c1e;
 		height: 0px;
	}
	
  	.framedefinition {
		padding-left:5px;
		padding-top:5px;
	}
	
	.logo {
		position: absolute; 
		top: 0px; 
		left: 5px;
		height: 80px;
		width: 80px;
		;
	}
	
	.dropdown-content {
    		width: 270px;
		font-size: 12px; 
	}
	
	.dropbtn {
    		border-radius: 4px;
    		background-color: #5a3c1e;
    		color: #ffffff;
    		margin-top: 5px;
    		padding: 16px;
   		width: 100px;
    		font-size: 12px;
    		border: 8px;
    		cursor: pointer;
	}
	
	button {
		border-radius: 4px;
		background-color: #5a3c1e;
		color: #ffffff;
		margin-top: 5px;
		padding: 16px;
		width: 240px;
		font-size: 14px;
		border: 8px;
		cursor: pointer;
	}
	
	.buttontitle {
		float: right;
		margin-right: 5px;
		border-radius: 4px;
		background-color: #5a3c1e;
		color: #ffffff;
		margin-top: -8px;
		padding: 0px;
		height: 50px; 
		width: 100px;
		font-size: 12px;
		border: 8px;
		cursor: pointer;
	}
	
	.sbutton {
    	background-color: #0064a0;
    	color: #ffffff;
    	padding: 4px;
		height: 125px;
    	width: 140px;
    	font-size: 12px;
    	cursor: pointer;
		white-space: normal;
		position: absolute; 
		top: 140px; 
		left: 10px;
		
	}

	.tbutton {
    	background-color: #64007f;
    	color: #ffffff;
    	padding: 4px;
		height: 125px;
    	width: 140px;
    	font-size: 12px;
    	cursor: pointer;
		white-space: normal;
		position: absolute; 
		top: 140px; 
		left: 150px;
	}

	.ebutton {
    	background-color: #a05000;
    	color: #ffffff;
    	padding: 4px;
		height: 125px;
    	width: 140px;
    	font-size: 12px;
    	cursor: pointer;
		white-space: normal;
		position: absolute; 
		top: 265px; 
		left: 10px;
	}

	.mbutton {
    	background-color: #a00000;
    	color: #ffffff;
    	padding: 4px;
		height: 125px;
    	width: 140px;
    	font-size: 12px;
    	cursor: pointer;
		white-space: normal;
		position: absolute; 
		top: 265px; 
		left: 150px;
	}	
	
	.nextpagebutton {
	border-radius: 4px;
	background-color: #5a3c1e;
	color: #ffffff;
	margin-top: 5px;
	padding: 16px;
	width: 240px;
	font-size: 16px;
	border: 8px;
	cursor: pointer;
	position: absolute; 
	top: 415px; 
	left: 10px;
	}
	
}
