.header {
  overflow: hidden;
  background-color: #D93B20;
  padding: 20px 10px;
}

.header2 {
  overflow: hidden;
  background-color: #F26522;
  padding: 20px 10px;
}

h1 {
	color: #000000;
	font-family: Verdana;
	font-size: 22px; 
}

h3 {
	color: #000000;
	font-family: Verdana;
	font-size: 18px;
}

div {
    color: #000000;
}

body {
    background: #F07D00;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 150px;
}

.dropbtn {
    border-radius: 4px;
    background-color: #D93B20;
    color: #ffffff;
    margin-top: 5px;
    padding: 16px;
    width: 110px;
    font-size: 16px;
    border: 8px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: #ffffff;
    border-radius: 4px;
    margin-top: 5px;
    padding: 16px;
    width: 350px;
    height: 150px;
    display: none;
    background-color: #364145;
    overflow: auto;
    
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    margin-top: 5px;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #F26522;}

.show {display: block;}

#total_votes
{
	font-size:30px;
	color:#FE2E2E;
	font-weight:bold;
}

.div p
{
	margin:0px;
	font-size:20px;
	text-align:left;
	color:#E6E6E6;
}

p
{
	color: #ffffff;
}

button {
    border-radius: 4px;
    background-color: #D93B20;
    color: #ffffff;
    margin-top: 5px;
    padding: 16px;
    width: 240px;
    font-size: 16px;
    border: 8px;
    cursor: pointer;
}
