.header {
  overflow: hidden;
  background-color: #D93B20;
  height: 70px;
}

.header2 {
  overflow: hidden;
  background-color: #F26522;
  height: 70px;
}

h1 {
	color: #000000;
	font-family: Verdana;
	font-size: 22px; 
}

h3 {
	color: #000000;
	font-family: Verdana;
	font-size: 18px;
}

div {
    color: #000000;
}

body {
    background: #F07D00;
    margin-top: 0px;
    margin-bottom: 0px;
}

