{box-sizing: border-box;}

.header {
  background-color: #4f1852;
  height: 70px;
}

.header2 {
  background-color: #753b76;
  color: #753b76;
  height: 70px;
}

.framedefinition {
	padding-left:0px;
	padding-top:0px;
}

h3 {
	color: #000000;
	font-family: Verdana;
	font-size: 18px;
}

div {
    color: #000000;
}

body {
    background: #964b98;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.div p
{
	margin:0px;
	font-size:20px;
	text-align:left;
	color:#E6E6E6;
}

p
{
	color: #ffffff;
}

button {
	border-radius: 4px;
	background-color: #4f1852;
	color: #ffffff;
	padding: 16px;
	width: 240px;
	font-size: 16px;
	border: 8px;
	cursor: pointer;
	margin: auto;
}

.logo {
	position: absolute; 
	top: 0px; 
	left: 150px;
}

.buttontitle {
		float: right;
		margin-right: 10px;
		border-radius: 4px;
		background-color: #4f1852;
		color: #ffffff;
		margin-top: -8px;
		padding: 0px;
		height: 50px; 
		width: 140px;
		font-size: 16px;
		border: 8px;
		cursor: pointer;
}
	
.container {
	min-height: 650px;
	width: 100%;
	margin:0px 0px 0px 0px;   
	background-color: white;
	box-shadow: 0px 0px 5px 1px grey;
	box-sizing: border-box;
	display:flex;

} 

.split.left {
	padding: 20px;
	width: 50%;
	text-align: center;
	flex-grow: 1;
	background-color: yellow;
	background-size: cover;
	background-position: center;
	transition: 1s;
	background: #0000ff;

}

.split.left:hover {
	width: 100%;
}

.split.right {
  
	padding: 20px;
	width: 50%;
	text-align: center;
	flex-grow: 1;
	background-color: green;
	background-size: cover;
	background-position: center;
	transition: 1s;
	background: #ff0000;
}

.split.right:hover {
	width: 100%;
}

h1 {
	
	color: #000000;	
	font-family: Verdana;
	font-size: 36px; 
	background: rgba(0,0,0,.8);
	transition: .5s;
}

h1 span {
	background: rgba(255,255,255,0);
	width: 100%;
	transition: 1s;
	color: #fff;
	padding: 25px 20px:
	text-transform: uppercase;
	letter-spacing: 2px;
}

.split.left:hover h1 span {
	color: #262626;
	background: rgba(255,255,255,.8);
	letter-spacing: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.split.left:hover h1 {
	background: rgba(0,0,0,0);
}

.split.right:hover h1 span {
	color: #262626;
	background: rgba(255,255,255,.8);
	letter-spacing: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.split.right:hover h1 {
	background: rgba(0,0,0,0);
}

/* button used for container
btn {

}
*/



@media screen and (max-width: 768px) {
	
	.header {
  		background-color: #4f1852;
 		height: 0px;
	}
	
  	.framedefinition {
		padding-left:0px;
		padding-top:0px;
	}
	
	.logo {
		position: absolute; 
		top: 0px; 
		left: 5px;
		height: 80px;
		width: 80px;
	}
	
	.dropdown-content {
    		width: 270px;
		font-size: 12px; 
	}
	
	.dropbtn {
    		border-radius: 4px;
    		background-color: #4f1852;
    		color: #ffffff;
    		margin-top: 5px;
    		padding: 16px;
   		width: 100px;
    		font-size: 12px;
    		border: 8px;
    		cursor: pointer;
	}
	
	button {
		border-radius: 4px;
		background-color: #4f1852;
		color: #ffffff;
		padding: 16px;
		width: 240px;
		font-size: 14px;
		border: 8px;
		cursor: pointer;
	}
	
	.buttontitle {
		float: right;
		margin-right: 5px;
		border-radius: 4px;
		background-color: #4f1852;
		color: #ffffff;
		margin-top: -8px;
		padding: 0px;
		height: 50px; 
		width: 100px;
		font-size: 12px;
		border: 8px;
		cursor: pointer;
	}
}
