div {
    color : black;
}

body {
    background: linear-gradient(to bottom, #ff4400 70px, #ff6600 70px, #ff6600 140px, #ff8800 140px);
    font-family: verdana;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 150px;
}

.dropbtn {
    background-color: #ff6600;
    font-family: verdana;
    color: ;
    margin-top: 5px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-family: verdana;
    background-color: #ff5500;
    min-width: 300px;
    overflow: auto;
    
    z-index: 1;
}

.dropdown-content a {
    font-family: verdana;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
