div {
    color : black;
}

body {
    background: linear-gradient(to bottom, #ff4400 70px, #ff6600 70px, #ff6600 140px, #ff8800 140px);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 150px;
}

.dropbtn {
    background-color: #ff6600;
    color: ;
    margin-top: 5px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #ff5500;
    min-width: 300px;
    overflow: auto;
    
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#total_votes
{
	font-size:30px;
	color:#FE2E2E;
	font-weight:bold;
}

.div
{
	border:1px solid #E6E6E6;
	clear:both;
	margin-top:20px;
	height:30px;
	width:150px;
	padding:10px;
	margin-left:30px;
	border-radius:3px;
}

.div p
{
	margin:0px;
	font-size:20px;
	text-align:left;
	color:#E6E6E6;
}

.img_star
{
	margin-top:10px;
	width:20px;
	height:20px;
	float:left;
	
}
